doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        link(rel="stylesheet", href="/public/css/style.css")
        title Noom
    body 
        header
            h1 Noom
        main
            div#welcome
                form
                    input.nickName(placeholder="nickname", required, type="text")
                    input.roomName(placeholder="room name", required, type="text")
                    button Enter room 
                ul#roomList
            div#call
                div#myStream 
                    h3
                    div.video_box
                        div 
                            video#myFace(autoplay,playsinline,width="400",height="400")
                            p#myName 
                        div 
                            video#peerFace(autoplay,playsinline,width="400",height="400")
                            p#peerName
                    button#mute Mute
                    button#camera Turn Camera Off
                    select#cameras
                div.chatting_box
                    ul#myChat
                    form#msg
                        input(type="text",placeholder="write a msg", required)
                        button send

            
        
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")