body {
  background-color: #1d1e1f;
  color: #fff;
}
main {
  padding-top: 0;
}
input[type="text"],
textarea {
  width: auto;
}
main form {
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  background-color: #2b2b33;
  box-shadow: none;
  padding: 10px 20px;
  border: 0 none;
}
form button {
  flex-grow: 1;
  padding: 5px 15px;
  background-color: #dc6175;
  border: 0 none;
}
form input {
  flex-grow: 5;
  margin-bottom: 0;
  background-color: #bebebe;
  border: 0 none;
  margin-right: 5px;
}
form input.nickName {
  width: 150px;
  flex-grow: 0;
}
form p {
  max-width: 100%;
}

ul {
  background-color: #2b2b33;
  box-shadow: none;
  padding: 10px 20px;
  border: 0 none;
  min-height: 100px;
  border-radius: 5px;
  list-style: none;
  overflow-y: auto;
}
ul li {
  width: auto;
  clear: both;
}
ul li + li {
  margin-top: 5px;
}
ul li.you {
  float: right;
}
ul li.other {
  margin-top: 30px;
  float: left;
  position: relative;
}
ul li.other b {
  position: absolute;
  top: -25px;
  left: 0;
}
ul li.you,
ul li.other {
  padding: 5px 20px;
  background-color: #dc6175;
  border-radius: 5px;
}
ul li.notice {
  text-align: center;
  font-weight: bold;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.video_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.video_box div {
  width: 48%;
}
video {
  width: 100%;
  height: auto;
}
#myStream button {
  flex-grow: 1;
  padding: 6px 15px;
  margin-left: 5px;
  background-color: #dc6175;
  border: 0 none;
}
